.nav {
  display: flex;
  gap: 24px;
  padding: 16px;
  border-bottom: 1px solid #444;
}

.link {
  color: #ff4da6;       /* как в видео */
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
