.list {
  list-style: none;
  padding: 0;
  margin-top: 16px;
  display: grid;
  gap: 12px;
}

.item {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #6aa7ff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.img {
  width: 50px;
  border-radius: 6px;
}
